<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
<link href="{% static '/css/main.css' %}" rel="stylesheet" >
</head>
<body>

<section class="layers">
		<div class="layers__container">
			<img class="layers__item layer-1"   src="{% static 'images/layer-1.jpg' %}">
<!--			<img class="layers__item layer-2"   src="{% static 'images/layer-22.png' %}">-->
			<div class="layers__item layer-3">
				<div class="hero-content">
					<h1>Электронная <span>библиотека</span></h1>
					<div class="hero-content__p">HTML, CSS, JS, DJANGO</div>
<!--					<button class="button-start" id="btn-in"><a  href="{% url 'login'%}?next={{request.path}}">Вход</a></button>-->
					<button class="button-start" id="btn-in"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></button>
				</div>
			</div>
			<div class="layers__item layer-4">
<!--				 <canvas class="rain"></canvas>-->
			</div>
			<img class="layers__item layer-5" src="{% static 'images/layer-55.png' %}">
			<img class="layers__item layer-6"   src="{% static 'images/layer-66.png' %}">

		</div>
<!--<p class="copyright">Copyright "Raissov Ayan", 2023</p>-->
	</section>


<script src="{% static '/js/app.js' %}"></script>
</body>
</html>